@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    background-color: #F4F7FC;
    color: #0A1E3D;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .font-tabular {
    font-variant-numeric: tabular-nums;
  }
}
